---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}

<!-- ClustrMaps visitor map -->
<div style="max-width: 200px; margin: 40px auto; text-align: center;">
    <p><strong>Visitor Map</strong></p>
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=JKEGA69pqRXbCgVZkoEtHWmT3HpsclcvBnnmlJAR7YM"></script>
    <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=JKEGA69pqRXbCgVZkoEtHWmT3HpsclcvBnnmlJAR7YM'></script> -->
  </div>

  <!-- <div class="mt-5" style="text-align: center;">
    <h3>Global Visitors (Google Analytics)</h3>
    <iframe 
      width="100%" 
      height="450" 
      src="https://lookerstudio.google.com/embed/reporting/a3193a83-eb2e-4eca-9619-f9a9f142f484/page/HXSLF" 
      frameborder="0" 
      style="border:0; max-width: 800px;" 
      allowfullscreen 
      sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
    </iframe>
  </div> -->